html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

a {
  font-size: 14px;
}

#page-container {
  position: relative;
  min-height: 100vh;
  background: white;
}

#content-wrap {
  padding-bottom: 3rem; /* Footer height */
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  padding-top: 10px;
}

